/* globals.css */

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a base font family */
body {
  font-family: sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

/* Style headings */
h1 {
  font-weight: bold;
  text-align: center; /* タイトルを中央寄せ */
  margin-bottom: 20px;
}

/* Style the form container */
form {
  display: flex;
  flex-direction: column; /* 入力フィールドを縦に並べる */
  width: 500px;
  margin: 0 auto; /* フォームを中央寄せ */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

/* Style form inputs and labels */
input[type="text"],
input[type="date"],
textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Style the submit button */
button[type="submit"] {
  background-color: #4CAF50; /* 緑色 */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* 画像アップロード */
.file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.file-upload span {
  background-color: #008CBA; /* 青色 */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 10px;
}

.file-upload input[type="file"] {
  display: none; /* ファイル選択ボタンを非表示 */
}

.image-list {
  display: flex;
  flex-wrap: wrap; /* 画像を折り返して表示 */
  justify-content: center;
}

.image-item {
  margin: 10px;
  position: relative; /* 削除ボタンを配置するため */
}

.image-item img {
  width: 200px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #f44336; /* 赤色 */
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Style the todo list */
ul {
  list-style: none; /* リストのマーカーを消す */
  width: 1000px;
  margin: 20px auto; /* リストを中央寄せ */
  padding: 0;
}

li {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center; /* 垂直方向に中央寄せ */
}

li p {
  display: inline-block;
  margin-right: 20px;
}

/* Style the delete button */
li button {
  background-color: #f44336; /* 赤色 */
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: auto; /* 削除ボタンを右端に配置 */
}